@import '../../styles/variables.scss';

.auth {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__box {
        position: relative;
        padding: 37px;
        padding-left: 60px;
        padding-right: 60px;
        width:  40%;
        min-width: 374px;
        height: 414px;
        min-height: 352px;
        background: $box-color;
        box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.04);
        border-radius: 10px;
    }

    &__change-auth {
        position: absolute;
        bottom: 9%;
        left: 50%;
        transform: translateX(-50%);
    }

    &__create-btn {
        background-color: transparent;
        border: none;
        @include accent-text-fonts;
        margin-left: 5px;
        cursor: pointer;
        text-decoration: underline;
        font-weight: 700;
    }
}

@media (max-width: 1400px) {
    .auth {
        &__box {
            padding-left: 37px;
            padding-right: 37px;
        }
    }
}

@media (max-width: 1300px) {
    .auth {
        &__box {

            height: 374px;
        }
        &__change-auth {
            position: static;
            left: auto;
            transform: translateX(0);
            margin-top: 30px;
            text-align: center;
        }
    }
}

@media (max-width: 910px) {
    .auth {
        padding-bottom: 123px;
    }
}