@import '../../styles/variables.scss';

.recipe {
    @include box-styles;
    margin: 0 5px 20px 5px;
    height: fit-content;

    &__img-box {
        position: relative;
        height: 150px;
        @include box-styles;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        &::before {
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.349);
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }

    &__img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    &__descr {
        padding: 16px;
    }

    &__btns {
        display: flex;
        justify-content: end;
        margin-top: 28px;
    }

    .main-btns {
        margin: 0;
    }
}
