@import '../../../styles/variables.scss';

.back-btn {
    height: 42px;
    cursor: pointer;
    padding: 10px;
    @include box-styles;
    background-color: #F4F4F4;
    border: none;
    margin-right: 10px;
}