@import '../../../styles/variables.scss';

.tag {
    display: inline-block;
    text-transform: capitalize;
    position: relative;
    padding: 8px 20px 8px 30px;
    border: 1px solid $accent-color;
    border-radius: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: $accent-color;

    &::before {
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        background-color: $accent-color;
        border-radius: 50%;
        left: 11px;
        top: calc(50% - 5px);
    }
}