@import '../../styles/variables.scss';

.create-ingredient {
    display: flex;
    margin-bottom: 10px;
    align-items: flex-end;

    &__item {
        margin-left: 19px;
        display: block;
        @include title-fonts;
        font-weight: 500;

    }

    &__item-title {
        @include title-fonts;
        font-weight: 500;
    }

    &__item-select {
        margin-top: 17px;
        width: 236px;
        height: 42px;
        border: 2px solid #f4f4f4;
        border-radius: 10px;
        padding-left: 18px;
        font-family: 'Roboto', sans-serif;
        @include placeholder-fonts;
    }

    &__item-select.valid-error {
        border: 3px solid $btn-color;
    }

    &__required {
        color: #FF988A;
    }
}

@media (max-width: 970px)  {
    .ingredient{
        &__item-select {
            width: 160px;
        }
    }
}

@media (max-width: 585px)  {
    .ingredient {
        &__item:first-child {
            margin-left: 0;
        }

        &__item-select {
            width: 135px;
        }
    }
}

@media (max-width: 500px) {
    .ingredient {
        padding-top: 15px;
        padding-bottom: 15px;
        flex-direction: column;
        border-top: 1px solid rgb(228, 228, 228);

        &:last-child {
            border-bottom: 1px solid rgb(228, 228, 228);
        }

        &__item {
            margin-left: 0;
            margin-bottom: 10px;
        }

        &__item-select {
            width: 100%;
        }
    }

}

@media (max-width: 415px) {

}