@import '../../styles/variables.scss';

.favs {
    width: 100%;
    padding: 30px 20px 30px 10px;

    &__title {
        padding: 15px;
        @include box-styles;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        height: 55px;
    }
    &__item + &__item  {
        margin-left: 15px;
    }
}

@media (max-width: 1000px) {
    .favs {
        padding-left: 20px;
        padding-bottom: 70px;
    }
}
@media (max-width: 690px) {
    .favs {
        padding-left: 10px;
        padding-right: 10px;
    }
}