@import '../../styles/variables.scss';

.search {
    padding: 30px;

    &__form {
        position: relative;
        display: flex;
        align-items: flex-start;
    }

    &__item {
        @include box-styles;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        padding: 36px 35px 38px;
    }

    &__item-title {
        width: 100%;
        margin-bottom: 25px;
        @include accent-title-fonts;
    }

    &__input-box {
        width: 100%;
        display: flex;
    }

    .main-btn {
        margin-left: 15px;
        width: 120px;
    }

    .item-search {
        width: 74%;
    }

    .item-filter {
        transition: all .3s;
        position: absolute;
        right: 0;
        width: 25%;
    }

    &__filters-box {
        width: 100%;
    }

    &__filter-item {
        margin-bottom: 27px;
    }

    &__filter-title {
        margin-bottom: 15px;
        @include title-fonts;
    }

    &__filter-ingr {
        position: relative;
        width: 133px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $text-color;

        .main-input {
            width: 120px;
            padding: 0 14px;
            margin-bottom: 4px;
            text-align: center;

            &::-webkit-input-placeholder,
            &:-moz-placeholder,
            &::-moz-placeholder,
            :-ms-input-placeholder {
                text-align: center;
            }
        }
    }

    &__filter-ingr-label {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $accent-color;
    }

    &__content {
        width: 74%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    &__filters-ico-btn {
        position: relative;
        width: 45px;
        height: 45px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        display: none;
    }

    &__filters-ico {
        position: relative;
        display: none;
        width: 45px;
        background-color: $accent-color;
        height: 5px;
        border-radius: 25px;
        &::before {
            position: absolute;
            content: '';
            width: 6px;
            height: 6px;
            background-color: #fff;
            border: 4px solid $accent-color;
            border-radius: 50%;
            top: -4px;
        }
    }

    &__filters-ico:nth-child(1) {
        &::before {
            left: 7px;
        }
    }
    &__filters-ico:nth-child(2) {
        &::before {
            left: 24px;
        }
    }
    &__filters-ico:nth-child(3) {
        &::before {
            left: 11px;
        }
    }

    &__filters-ico--close:first-child,
    &__filters-ico--close:last-child {
        position: absolute;
        width: 45px;
        background-color: $accent-color;
        height: 5px;
        border-radius: 25px;
    }

    &__filters-ico--close:first-child {
        transform: rotate(-45deg);

    }

    &__filters-ico--close:last-child {
        transform: rotate(45deg);
    }

    &__filters-box--active {
        transition: all .3s;
        width: 100%;
        transform: translateX(0);
        margin-top: 10px;
    }

    .item-filter--active {
        flex-direction: column;
        position: relative;
        width: 100%;
    }

    &__next-page {
        @include box-styles;
        background-color: rgb(240, 99, 99);
        color: #fff;
        width: fit-content;
        border-radius: 10px;
        padding: 15px;
        cursor: pointer;
        margin: 0 auto;
    }

    &__error {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    &__error-img {
        max-width: 230px;
    }
}

@media (max-width: 1700px) {
    .search {
        &__content {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media (max-width: 1400px) {
    .search {
        &__content {
            width: 70%;
            grid-template-columns: repeat(2, 1fr);
        }

        .item-search {
            width: 70%;
        }

        .item-filter {
            width: 29%;
        }
    }
}

@media (max-width: 1250px) {
    .search {
        padding: 15px;

        &__content {
            width: 66%;
        }

        .item-search {
            width: 66%;
        }

        .item-filter {
            width: 33%;
        }
    }
}

@media (max-width: 1000px) {
    .search {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 70px;
    }
}

@media (max-width: 900px) {
    .search {
        &__content {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
@media (max-width: 850px) {
    .search {

        &__item {
            padding: 20px;
        }

        &__content {
            width: 62%;
        }

        .item-search {
            width: 62%;
        }

        .item-filter {
            width: 37%;
        }

        &__input-box {
            display: flex;
            flex-direction: column;
        }

        .main-btn {
            margin-left: auto;
            margin-right: 0;
        }

        .main-input {
            margin-bottom: 15px;

        }
    }
}

@media (max-width: 680px) {
    .search {
        &__content {
            grid-template-columns: repeat(2, 1fr);
        }
        &__form {
            flex-direction: column;
        }
        .item-filter {
            position: relative;
            width: 65px;
        }
        &__item {
            padding: 10px;
        }

        &__filters-ico-btn,
        &__filters-ico {
            display: flex;
        }

        &__item-title {
            display: none;
        }

        &__filters-box {
            transition: all .5s;
            position: absolute;
            transform: translateX(-10000px);
            width: 0;
        }
        .item-search {
            width: 100%;
            margin-bottom: 5px;
        }

        &__content {
            width: 100%;
        }
    }
}

@media (max-width: 550px) {
    .search {
        padding-top: 10px;
        &__content {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
