@import '../../styles/variables.scss';

.form {
    &__title {
        @include accent-title-fonts;
        text-align: center;
        margin-bottom: 27px;
    }

    &__input-box {
        position: relative;
        margin-bottom: 7%;
    }

    &__show-pass {
        position: absolute;
        bottom: 9px;
        right: 15px;
    }
}

@media (max-width: 420px) {
    .form {

    }
}
