@import '../../styles/variables.scss';

.ingredient {
    position: relative;
    padding: 5px 0 5px 26px;
    text-transform: lowercase;
    @include text-fonts;

    &::after {
        position: absolute;
        content: '';
        background-color: #41F0B6;
        width: 15px;
        height: 15px;
        left: 0;
        top: 7px;
        border-radius: 50%;
    }
}


@media (max-width: 970px)  {

}

