@import '../../../styles/variables.scss';

.btn-add {
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 40px;
    border: 2px solid $accent-color;
    border-radius: 50%;
    background-color: transparent;

    &::after {
        position: absolute;
        content: '';
        width: 2px;
        height: 26px;
        background-color: $accent-color;
        top: 50%;
        transform: translateY(-50%);
        left: 17px;
    }

    &::before {
        position: absolute;
        content: '';
        width: 26px;
        height: 2px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $accent-color;
        top: 17px;
    }

}