@import '../../styles/variables.scss';

.create {
    position: relative;
    margin: 0 auto;
    padding-top: 30px;
}

@media (max-width: 1300px) {
    .create {
        width: 95%;
    }
}

@media (max-width: 1050px) {
    .create {
        width: 100%;
        padding: 30px;
    }
}

@media (max-width: 1000px) {
    .create {
        padding-bottom: 65px;
    }
}

@media (max-width: 690px) {
    .create {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
    }
}
