@import './variables.scss';

@font-face{
    font-family: 'Roboto';
    font-display:swap;
    src:    url("./fonts/Roboto-Bold.woff2") format("woff2"),
            url("./fonts/Roboto-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto';
    font-display:swap;
    src:    url("./fonts/Roboto-Regular.woff2") format("woff2"),
            url("./fonts/Roboto-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto';
    font-display:swap;
    src:    url("./fonts/Roboto-Light.woff2") format("woff2"),
            url("./fonts/Roboto-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: $main-bg;
    @include text-fonts;
}

ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

p {
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 133px;
    height: 100vh;
}

.title {
    @include title-fonts;
}

.hidden {
    display: none;
}

.valid-error > .main-input {
    border: 3px solid $btn-color;
}

@media (max-width: 1000px) {
    .container {
        padding-bottom: 50px;
        padding-left: 0;
    }
}